.navbar {
	background-color: var(--theme-green);
	padding: 10px 0;
	width: 100%;
	display: flex;
	justify-content: center;
	position: fixed;
	top: 70px;
	left: 0;
	z-index: 999;
	box-sizing: border-box;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.navbar-menu {
	list-style-type: none;
	display: flex;
	justify-content: center;
	gap: 40px;
	margin: 0;
	padding: 0;
	width: 100%;
	max-width: 1200px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.navbar-menu li {
	font-size: 18px;
	font-family: "Arial", sans-serif;
}

.navbar-menu li a {
	text-decoration: none;
	color: #3c3c3c;
	font-weight: normal;
}

.navbar-menu li a:hover {
	color: #000000;
}

.navbar-menu li a.active {
	font-weight: bold;
	color: #3c3c3c;
}

@media (max-width: 700px) {
	.navbar-menu li {
		font-size: 16px;
	}
}

@media (max-width: 500px) {
	.navbar-menu li {
		font-size: 14px;
	}
}

@media (max-width: 420px) {
	.navbar-menu li {
		font-size: 12px;
	}
}

@media (prefers-color-scheme: dark) {
	.navbar {
		background-color: var(--theme-even-darker-green);
	}

	.navbar-menu li a {
		color: white;
	}
	.navbar-menu li a.active {
		color: white;
	}

	.navbar-menu li a:hover {
		color: var(--theme-light-grey);
	}
	.navbar-menu li a.active:hover {
		color: var(--theme-light-grey);
	}
}
