.login-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1005;
}

.profile-login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 300px;
    min-height: 140px;
    border-radius: 5px;
    padding: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.login-information {
    padding-left: 4px;
    padding-right: 4px;
}

.login-form {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
}

.login-input {
    border: 1px solid #ccc;
    width: 100%;
    outline: none;
    padding: 5px;
    margin-right: 5px;
    background-color: white;
}

.profile-icon {
    background-color: transparent;
    z-index: 1006;
    margin: 20px;
}

.login-button {
    background-color: #E27396;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    padding: 5px 10px;
}

.dropdown {
    display: inline-flex;
    flex-direction: column;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 70%;
    min-width: 160px;
    z-index: 1;
    right: 0;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--theme-lighter-green);

}

.dropdown-content a {
    color: black;
    font-size: smaller;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: var(--theme-lighter-green);
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: var(--theme-dark-pink);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.profile-login-icon {
    margin: 5px;
}

.profileName {
    font-size: 13px;
    margin: 3px;
}

.close-login-button {
    position: relative;
    left: 18px;
    bottom: 66px;
    color: var(--theme-dark-grey);
}

.close-login-button:hover {
	color: #454444d8;
}

@media (max-width: 900px) {
	.profile-icon {
		font-size: medium;
		margin: 5px;
	}
}

@media (max-width: 750px) {
	.profile-icon {
		margin-left: 10px;
		margin-right: 5px;
	}
}


@media (max-width: 420px) {
	.profile-icon {
		margin: 2px;
	}
}

@media (prefers-color-scheme: dark) {
	.header {
		background-color: var(--theme-even-darker-green);
	}

	.header-title {
		color: white;
	}

	.navButton:hover {
		border-color: var(--theme-dark-pink);
	}
}



@media (prefers-color-scheme: dark) {
	.login-form {
        background-color: black;
    }

    .login-input {
        background-color: black;
        
    }

    .profile-login {
        background-color: black;
    }

    .close-login-button {
		color: #555;
	}

	.close-login-button:hover {
		color: var(--theme-lighter-green);
	}

    .login-overlay {
        background-color: rgba(28, 28, 28, 0.8);;
    }
}