.hamburger-icon {
	background: none;
	border: none;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 10px;
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 1001;
}

.hamburger-icon .line {
	width: 25px;
	height: 3px;
	background-color: var(--theme-dark-grey);
	transition:
		transform 0.3s ease,
		opacity 0.3s ease;
}

.hamburger-icon .line.open:nth-child(1) {
	transform: translateY(8px) rotate(45deg);
}

.hamburger-icon .line.open:nth-child(2) {
	opacity: 0;
}

.hamburger-icon .line.open:nth-child(3) {
	transform: translateY(-8px) rotate(-45deg);
}

.sidebar {
	position: fixed;
	top: 100px;
	left: 0;
	background-color: var(--theme-pink);
	width: 300px;
	height: 100%;
	padding-top: 60px;
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
	transform: translateX(-100%);
	transition: transform 0.3s ease;
	z-index: 998;
}

.sidebar.open {
	transform: translateX(0);
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 997;
}

.filteringContainer {
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 20px;
	align-items: center;
	width: 90%;
}

@media (max-width: 600px) {
	.sidebar {
		width: 85%;
	}
}

@media (max-width: 500px) {
	.hamburger-icon {
		top: 10px;
		left: 5px;
	}
}

@media (prefers-color-scheme: dark) {
	.sidebar {
		background-color: var(--theme-dark-pink);
	}
}
