.appContainer {
	position: absolute;
	top: 230px;
	left: 12.5%;
	display: flex;
	align-items: flex-start;
	width: 60%;
	display: flex;
	flex-direction: row;
}

.filter-sort-container {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
}

.allSongsList-container {
    flex-grow: 1; 
}

.homeComponents {
	width: 100%;
	display: flex;
	justify-content: center;
}

@media (max-width: 700px) {

	.appContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 65%;
	}
}
