.appContainer {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.filter-sort-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.allSongsList-container {
	flex-grow: 1;
	display: flex;
}

.homeComponents {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.searchBarContainer {
	width: 100%;
	max-width: 500px;
	margin: 10px auto;
	margin-top: 50px;
	/* padding: 0 10px; */
	position: relative;
	align-items: center;
	justify-content: center;
}

@media (max-width: 700px) {
	.appContainer {
		position: relative;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0;
		margin-top: 0;
	}

	.homeComponents {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-left: 0;
		margin-left: 0;
	}

	.filter-sort-container {
		position: relative;
		width: 100%;
	}

	.searchContainer {
		width: 400px;
		margin: 10px auto;
	}
}
