.playlist-details {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    max-width: 800px;
    margin: 0 auto;
    color: #333;
}

.playlist-details h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
}

.songs-list h2 {
    margin-top: 20px;
}

.songs-list ul {
    list-style-type: none;
    padding: 0;
}

.songs-list li {
    margin: 10px 0;
    font-size: 1.2rem;
}
