.playlist-card {
    border: 2px solid #000;
    border-radius: 12px;
    padding: 20px;
    width: 150px;
    height: 100px;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
 .playlist-icon{
    font-size: 40px;
 }

 @media (prefers-color-scheme: dark) {
   .playlist-card{
      box-shadow: 0 4px 8px rgba(129, 125, 125, 0.931);
   }
 }
  
  