.searchContainer {
	width: 80%;
	position: relative;
	margin: 10px auto;
	padding: 0 10px;
	display: flex;
}

.searchForm {
	width: 100%;
}

.searchInput {
	width: 83%;
	align-items: center;
	border: 2px solid transparent;
	box-shadow: 0px 2px 8px 2px #6e6c6c33;
	padding: 5px 40px;
	height: 25px;
	border-radius: 20px;
	outline: none;
	font-size: large;
}

.searchInput:focus {
	border: 2px solid var(--theme-green);
	box-shadow: 0 8px 20px 0 #83818133;
}

.searchIcon {
	font-size: 19px;
	color: white;
	align-items: center;
	display: flex;
}

.iconContainer {
	position: absolute;
	right: 0;
	top: 4px;
	height: 80%;
	border-radius: 20px;
	margin-left: 3px;
	background-color: var(--theme-darker-green);
}

.iconContainer:hover {
	background-color: var(--theme-green);
}

.clearButton {
	position: absolute;
	left: 20px;
	top: 8px;
	border: none;
	background-color: transparent;
	color: var(--theme-light-grey);
	font-size: 16px;
	cursor: pointer;
}

.clearButton:hover {
	color: #454444d8;
}

@media (max-width: 700px) {
	.searchContainer {
		width: 90%;
	}
}

@media (max-width: 500px) {
	.searchInput {
		width: 320px;
	}

	.iconContainer {
		right: 13px;
	}
}

@media (max-width: 450px) {
	.searchInput {
		width: 250px;
		margin: auto;
		font-size: medium;
	}

	.iconContainer {
		right: 48px;
	}

	.clearButton {
		left: 48px;
	}
}

@media (prefers-color-scheme: dark) {
	.searchInput:focus {
		border-color: var(--theme-darker-green);
	}

	.iconContainer {
		background-color: var(--theme-even-darker-green);
	}

	.iconContainer:hover {
		background-color: var(--theme-darker-green);
	}

	.clearButton {
		color: #555;
	}

	.clearButton:hover {
		color: var(--theme-lighter-green)
	}
}
