.searchContainer {
	width: 80%;
	position: relative;
	margin: 10px auto;
	padding: 0 10px;
	display: flex;
}

.searchInput {
	width: 100%;
	border: 2px solid transparent;
	box-shadow: 0px 2px 8px 2px #6e6c6c33;
	padding: 5px;
	padding-left: 40px;
	height: 25px;
	border-radius: 20px;
	outline: none;
	font-size: large;
}

.searchInput:focus {
	border: 2px solid var(--theme-green);
	box-shadow: 0 8px 20px 0 #83818133;
}

.searchContainer:focus-within .searchIcon {
	color: var(--theme-green);
}

.searchIcon {
	font-size: 19px;
	color: var(--theme-light-green);
}

.iconContainer {
	position: absolute;
	left: 22px;
	top: 11px;
}

@media (max-width: 700px) {
	.searchContainer {
		width: 90%;
	}
}

@media (max-width: 500px) {
	.searchInput {
		width: 400px;
	}
}

@media (max-width: 450px) {
	.searchInput {
		width: 250px;
		margin: auto;
		font-size: medium;
	}

	.iconContainer {
		left: 72px;
	}
}

@media (prefers-color-scheme: dark) {
	.searchInput:focus {
		border-color: var(--theme-darker-green);
	}

	.searchIcon {
		color: var(--theme-darker-green);
	}

	.searchContainer:focus-within .searchIcon {
		color: var(--theme-darker-green);
	}
}