.songContainer {
	margin-left: 20px;
	margin-right: 20px;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 #00000033;
	width: 100%;
	background-image: linear-gradient(to right, var(--theme-dark-green), Var(--theme-green));
}
.songTable {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

.tableRow {
	border-bottom: 1px solid var(--theme-darker-green);
	text-align: left;
	font-size: medium;
}

.tableRow:hover {
	background-color: var(--theme-darker-green);
}

.titleCell {
	font-weight: 500;
}

.viewsCell {
	font-size: small;
}

td {
	padding-left: 5px;
	padding-right: 5px;
}
