.songContainer {
	width: 700px;
	position: relative;
	max-width: 700px;
	margin: 0 auto;
}

.songTable {
	width: 100%;
	border-collapse: collapse;
}

.tableRow {
	border-bottom: 1px solid var(--theme-green);
	text-align: left;
	font-size: x-large;
	width: 100%;
}

.tableRow:hover {
	background-color: var(--theme-green);
	cursor: pointer;
	transition-duration: 0.4s;
	transition-timing-function: ease;
}

.titleCell {
	font-weight: 500;
	width: 100%;
}

.viewsCell {
	font-size: small;
	white-space: nowrap;
}

.plusMinusCell {
    font-size: small;
	white-space: nowrap;
}

td {
	padding-left: 5px;
	padding-right: 5px;
}

.title-artist-cell {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 10px;
	align-items: center;
}


@media (max-width: 730px) {
	.songContainer {
		width: 590px;
	}
}

@media (max-width: 650px) {
	.tableRow {
		font-size: large;
	}

	.songContainer {
		width: 490px;
	}
}

@media (max-width: 520px) {
	.songContainer {
		width: 400px;
	}
}

@media (max-width: 450px) {
	.songContainer {
		width: 350px;
	}

	.tableRow {
		font-size: medium;
	}
}

@media (max-width: 400px) {
	.songContainer {
		width: 330px;
	}
}

@media (prefers-color-scheme: dark) {
	.tableRow {
		border-color: var(--theme-even-darker-green);
		border-width: 2px;
	}

	.tableRow:hover {
		background-color: var(--theme-even-darker-green);
	}
}
