.sort-container {
    display: inline-block;
    font-family: Arial, sans-serif;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    background-color: #EA9AB2; 
    box-shadow: 0 4px 8px 0 #00000033;
}

label {
    font-size: 16px;
    font-weight: bold;
    color: #333;  
    margin-right: 10px;
}

select {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff; 
    font-size: 16px;
    color: #333;  
    cursor: pointer;
    outline: none;
    transition: border-color 0.3s;
}

select:hover,
select:focus {
    border-color: #888;  
}

option {
    font-size: 16px;
    color: #333;
}

.sort-heading{
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
    text-align: left; 
}