.filterContainer {
    margin: 0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 #00000033;
    text-align: left;
    display: inline-block;
    color: #493843;
    width: 200px;
}

.filterRow {
	display: flex;
	align-items: center;
}

.filterContainer h2 {
	margin: 0;
	padding: 0;
	font-size: 1.5em;
	font-weight: 500;
}

.filterRow input {
    background-color:aqua;
    color: #493843;
}

input[type="checkbox"] {
    accent-color: #493843;
    color: #493843;
    cursor: pointer;
    margin: 10px;
}

@media (max-width: 700px) {
    .filterContainer {
        width: 90%;
    }

    .filterContainer h2 {
        font-size: 1.0rem;
    }

    .filterContainer label {
        font-size: 1.0rem;
    }
}

@media (max-width: 400px) {
    .filterContainer {
        width: 190px;
    }

}
