.filterContainer {
    margin: 0;
    padding: 10px;
    background-color: var(--theme-dark-green);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 #00000033;
    text-align: left;
    display: inline-block;
    color: #493843;
}

.filterRow {
	display: flex;
	align-items: center;
}

.filterContainer h2 {
	margin: 0;
	padding: 0;
	font-size: 1.5em;
	font-weight: 500;
}

.filterRow input {
    background-color:aqua;
    color: #493843;
}

input[type="checkbox"] {
    accent-color: #493843;
    color: #493843;
    cursor: pointer;
}
  

@media (max-width: 700px) {
    .filterContainer {
        margin: auto;
        margin-bottom: 15px;
        border: solid 3px var(--theme-dark-green);
        background-color: transparent;
        width: 95%;
        max-width: 400px;
    }

    .filterContainer h2 {
        font-size: 1.0rem;
    }

    .filterContainer label {
        font-size: 1.0rem;
    }

    .categories {
        display: flex;
        justify-content: space-between;
        flex-basis: auto;
    }
}
