.lyrics {
    position: relative;
    min-height: 100vh;
    margin-top: 50px;
    color: #493843;
    width: 700px;
}

.lyrics button {
	top: 10px;
	right: 10px;
	cursor: pointer;
	z-index: 5;
}

.lyrics-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.buttons-right-container {
	display: flex;
	gap: 10px;
}


.buttons-right-container button {
	border: none;
	cursor: pointer;
}

.lyrics h1 {
    text-align: center;
    font-size: xx-large;
    margin-bottom: 0px;
}

.lyrics p {
    text-align: left;
    font-size: 18px;
}

.songInfo {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
    margin-top: 20px;
    height: auto;
}

.songInfo > :first-child {
    justify-self: start;
}

.songInfo > :last-child {
    justify-self: end; 
}

.songInfo p {
	font-weight: bold;
	margin: 0;
	text-align: center;
}

hr {
    display: block; 
    border: none;
    height: 2px;
    background-color: #D5E1BA;
    margin-bottom: 30px;
    overflow: hidden;
}

.viewsInfo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}


@media (prefers-color-scheme: dark) {
	.lyrics {
		color: white;
	}

	hr {
		background-color: var(--theme-even-darker-green);
	}
}


@media (max-width: 760px) {
    .lyrics {
        width: 550px;
    }

    .lyrics h1 {
        font-size: 20px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .lyrics h2 {
        font-size: 18px;
    }


    .lyrics p {
        font-size: 16px;
    }
}

@media (max-width: 650px) {
    .lyrics {
        width: 450px;
    }
}

@media (max-width: 560px) {
    .lyrics {
        width: 350px;
    }

    .lyrics p {
        font-size: 14px;
    }

    .songInfo p {
        font-size: 12px;
    }
}

