.header {
	background-color: var(--theme-green);
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	z-index: 1000;
	height: 80px;
}

.header-content {
	display: flex;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
	left: 10px;
}

.sofa-icon {
	height: 55px;
	width: 55px;
	margin-right: 15px;
}

.header-title {
	font-family: "Roboto", sans-serif;
	font-size: 30px;
	color: var(--theme-dark-grey);
	font-weight: bold;
	margin: 0;
}

.navbar {
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-grow: 1;
}

.navButton {
	text-decoration: none;
	color: inherit;
	display: flex;
	align-items: center;
	white-space: nowrap;
	margin: 20px;
	background-color: transparent;
	border-bottom: solid 2px transparent;
}

.navButton:hover {
	text-decoration: none;
	color: inherit;
	border-bottom: solid 3px var(--theme-pink);
	padding-bottom: 7px;
	transition: all 0.3s ease;
}

.navIcon {
	margin: 10px;
}

.musicIcon {
	font-size: xx-large;
}

@media (max-width: 900px) {
	.header-title {
		font-size: 28px;
	}
	.navButton {
		font-size: medium;
		margin: 5px;
	}
	.sofa-icon {
		height: 50px;
		width: 50px;
	}
	.navIcon {
		font-size: 28px;
	}
}

@media (max-width: 750px) {
	.header-title {
		font-size: 24px;
	}
	.navButton {
		margin-left: 10px;
		margin-right: 5px;
	}

	.navText {
		display: none;
	}
	.navIcon {
		font-size: xx-large;
	}
}

@media (max-width: 600px) {
	.header-title {
		font-size: 22px;
	}
}

@media (max-width: 420px) {
	.header-title {
		font-size: 20px;
	}
	.header-width {
		width: 300px;
	}

	.navButton {
		margin: 2px;
	}

	.navIcon {
		font-size: 24px;
	}
}

@media (prefers-color-scheme: dark) {
	.header {
		background-color: var(--theme-even-darker-green);
	}

	.header-title {
		color: white;
	}

	.navButton:hover {
		border-color: var(--theme-dark-pink);
	}
}
